.frame {
  background: linear-gradient(0deg, #080808, #080808), #e2e2e2;
  background-size: 100% 100%;
  position: relative;
  height: 100vh;
}
.box {
  position: absolute;
  width: 822px;
  height: 850px;
  top: -100px;
  left: 300px;
}
.font1 {
  color: #fff;
  position: absolute;
  width: 48px;
  left: 550px;
}
.font2 {
  color: #fff;
  position: absolute;
  left: 550px;
  min-width: 192px;
}

