.frame1_bar {
  padding: 0 120px;
  z-index: 1;
  justify-content: space-between !important;
  width: 100%;
  transition: all 0.3s;
  font-weight: 400 !important;
  font-family: Regular PingFang SC !important;
}
.logo {
  width: 243px;
  display: flex;
  align-items: center;
}
.frame1_nav div {
  margin: 0 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}

.search {
  width: 19px;
  height: 19px;
}

.bottom {
  line-height: 10px;
  border-bottom: 4px solid #ff406e;
}
