.box {
  position: absolute;
  width: 822px;
  height: 850px;
  top: -200px;
  left: 400px;
}
.frame {
  background: #080808;
  position: relative;
  display: flex;
  justify-content: center;
  color: #fff;
  height: 100vh;
}
.box2 {
  position:absolute;
  width: 355px;
  height:200px;
  top: 180px;
  left:800px;

}

.text{
  position:absolute;
  left: 700px;
  top: 50px;
}
