.foot {
  position: relative;
  transition: all 0.5s ease;
}
.logo {
  position: absolute;
  width: 200px;
  height: 100.21px;
  left: 127px;
}
.link {
  position: absolute;
  left: 811px;
  font-size: 16px;
  line-height: 24px;
  color: #2e2e2e;
}
.link div {
  margin-right: 36px;
  float: left;
}
.imf {
  position: absolute;
  right: 120px;
  text-align: right;
  color: #6a6a6a;
}


.qrcode1 {
  position: absolute;
  width: 86px;
  height: 86px;
  right: 100px;
  bottom: 0;
}
.qrcode2 {
  position: absolute;
  width: 86px;
  height: 86px;
  right: 545px;
  top: -10px;
}