.frame {
  position: relative;
  background: #080808;
  height: 100vh;
}
.vector {
  position: absolute;
  width: 722px;
  height: 750px;
  left: 212px;
  /* top: -50px; */
}
.font1,
.font2 {
  position: absolute;
  left: 603px;
  color: #fff;
}
