.frame {
  width: 200vw;
  height: 100vh;
  position: relative;
  transition: all 0.6s linear;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    linear-gradient(
      284.24deg,
      rgba(134, 137, 231, 0.2) -0.11%,
      rgba(0, 0, 0, 0) 63.13%
    ),
    linear-gradient(
      141.58deg,
      rgba(244, 130, 130, 0.2) -30.92%,
      rgba(244, 130, 130, 0) 74.94%
    ),
    linear-gradient(0deg, rgba(13, 13, 13, 0.9), rgba(13, 13, 13, 0.9)), #e2e2e2;
}
.event_container {
  display: flex;
  align-items: center;
  transition: all 0.6s linear;
}
.event {
  background-color: #1b1b1b;
  width: 209px;
  height: 198px;
  min-height: 198px !important;
  border-end-end-radius: 50px;
  border-start-start-radius: 50px;
  color: #aba5a5;
  position: relative;
  transition: all 0.6s linear;
  /* box-shadow: 2px 2px 2px 1px #f5abba; */
  opacity: 0.9;
}
.time {
  text-align: right;
  margin-right: 24px;
  font-weight: 900;
  font-family: DIN Black;
  font-size: 18px;
  line-height: 24px;
}

.article {
  margin: 0 24px;
  font-family: PingFang SC;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.range_box {
  position: absolute;
  left: 105px;
  bottom: 0px;
}
.range {
  background-color: #1b1b1b;
  transition: all 0.6s linear;
}
.range:before,
.range:after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.range,
.range:before,
.range:after {
  width: 30px;
  height: 30px;
  border-top-right-radius: 30%;
}
.range {
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}
.range:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}

.range:after {
  /* transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%); */
  transform: rotate(155deg) skewY(2deg) scale(1, 1.414) translate(50%);
  /* box-shadow: 1.1px -3px 1px 1px #f5abba; */
}

.event.active,
.range.active {
  background-color: #fff;
}

.event.active {
  box-shadow: 2px 2px 2px 1px #ffa38f;
}

.range.active:after {
  box-shadow: 1.1px -3px 1px 1px #ffa38f;
}

.time.active,
.article.active {
  color: #141414;
}

.line {
  width: 2211px;
  height: 2px;
  background-color: #8172de;
  position: absolute;
  transition: all 0.6s linear;
}
.line2 {
  position: absolute;
  width: 133px;
  background: url(../../assets/img/frame8/Vector\ 5.png) center no-repeat;
  transition: all 0.7s ease;
  background-color: #000;
  background-size: 100% 100%;
  left: 0;
}
.square,
.square2 {
  opacity: 0.4;
  height: 343px;
  width: 361.7850036621094px;

  position: absolute;
}
.square {
  left: 812px;
}
.square2 {
  left: 2252px;
}
.heart {
  position: absolute;
  width: 33px;
  height: 27.84px;
  left: 690px;
  display: none;
}

.radius {
  position: absolute;
  width: 100px;
  height: 50px !important;
  border-radius: 0 0 50px 50px;
  border-bottom: 1px solid;
  transition: all 0.7s ease;
  overflow: hidden;
  border: 2px solid;

  border-image: linear-gradient(
      to left,
      rgba(0, 255, 255, 0.8),
      rgba(255, 255, 0, 0.8) 20%,
      rgba(255, 255, 0, 0.8) 80%,
      rgba(0, 255, 255, 0.8)
    )
    1;

  border: 2px solid;
  /* border-image-source: linear-gradient(to top, red, yellow); */

  background: linear-gradient(
      193.98deg,
      rgba(255, 173, 126, 0.2) 64.65%,
      rgba(255, 193, 135, 0) 97.79%
    ),
    radial-gradient(
      119.2% 63.76% at 13.67% 79.3%,
      #ff8585 0.1%,
      #ffdead 42.29%,
      rgba(255, 196, 141, 0) 98.61%
    ),
    linear-gradient(136.35deg, #5a61ff 0%, #ffaecb 95.56%);
}

.emoji {
  position: absolute;
  /* width: 29px;
  height: 29px; */
  right: 25px;
  bottom: 0;
  font-size: 29px;
}

.None {
  display: none;
}


